---
permalink: /conference/
---

<html>

<head>
  {% include head.html %}
</head>

<body>

  {% include header.html %}
  <div class="container">
    <div class="page-header" id="conf-title">
      <div class="row">
        <div class="col-sm-12 col-sm-12">
          <h1>
            <span id="conf-title-href"></span>
            <span id="twitter-box"></span>
          </h1>
          <h3>
            <span id="conf-title-long"></span>
          </h3>
        </div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-sm-12">
          <span id="conf-subs" title="Conference subjects"></span>
          <span id="conf-ranking" title="Conference ranking" class="conf-ranking"></span>
          <span id="conf-h5" title="H5 Index" class="conf-h5"></span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="meta col-sm-12">
          <img src="{{site.baseurl}}/static/img/084-calendar.svg" className="own-badge" />
          <span id="conf-date"></span>. <br>
          <img src="{{site.baseurl}}/static/img/072-location.svg" className="own-badge" />
          <span id="conf-place"></span>. <br>
          <img src="{{site.baseurl}}/static/img/203-earth.svg" className="own-badge" />
          <a id="conf-website" target="_blank" nohref></a><br>
          <br><br>
        </div>
      </div>
      <div class="row ">
        <div class="meta col-sm-12 col-md-6">
          Download Conference deadline:
        </div>
        <div id="conference-deadline" class="calendar"
          style="margin: 0px; margin-left: 15px; font-size: 13px; padding: 0px;">
        </div>
        <div class="meta col-sm-12 col-md-6">
          Download Conference dates:
        </div>
        <div id="conference-dates" class="calendar"
          style="margin: 0px; margin-left: 15px; font-size: 13px; padding: 0px;">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="meta col-sm-12 col-md-6">
          Deadline in timezone from conference website:
        </div>
        <div class="meta col-sm-12 col-md-6">
          <span class="deadline-time"></span>
        </div>
        <div class="local-timezone-hide col-12">
          <div class="row">
            <div class="meta col-sm-12 col-md-6">
              Deadline in your local <span class="local-timezone">America/New_York</span> timezone:
            </div>
            <div class="meta col-sm-12 col-md-6">
              <span class="deadline-local-time"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row" style="margin-top: 40px;">
        <div class="col-sm-12">
          <span id="conf-timer"></span>
          <br>
        </div>
        <div id="conf-estimated" class="col-sm-12" style="margin-top: 30px;">
          <img src="{{site.baseurl}}/static/img/266-question.svg" class="own-badge" alt="Remove this image"
            height="20px"
            style="font-size: 20px; font-weight: 400; filter: invert(46%) sepia(68%) saturate(1119%) hue-rotate(1deg) brightness(103%) contrast(95%);" />
          Deadline only estimated!
        </div>
        <div id="conf-no-timezone" class="col-sm-12" style="margin-top: 30px;">
          <img src="{{site.baseurl}}/static/img/265-notification.svg" class="own-badge" alt="Remove this image"
            height="20px"
            style="filter: invert(15%) sepia(94%) saturate(3919%) hue-rotate(355deg) brightness(77%) contrast(119%);" />
          Timezone not given!
        </div>
      </div>
      <br>
      <hr>
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </div>
  <script type="text/javascript" charset="utf-8">
    $(function () {
      var url = new URL(window.location);
      var conf = url.searchParams.get('id');
      console.log(conf);

      // Borrowed from https://github.com/moment/moment-timezone/issues/167
      // Adds support for time zones 'UTC-12'..'UTC+12'
      function addUtcTimeZones() {
        // Moment.js uses the IANA timezone database, which supports generic time zones like 'Etc/GMT+1'.
        // However, the signs for these time zones are inverted compared to ISO 8601.
        // For more details, see https://github.com/moment/moment-timezone/issues/167
        for (let offset = -12; offset <= 12; offset++) {
          const posixSign = offset <= 0 ? '+' : '-';
          const isoSign = offset >= 0 ? '+' : '-';
          const link = `Etc/GMT${posixSign}${Math.abs(offset)}|UTC${isoSign}${Math.abs(offset)}`;
          moment.tz.link(link);
        }
      }
      addUtcTimeZones();
      try {
        var local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        $('.local-timezone').text(local_timezone.toString());
      }
      catch (err) {
        $('.local-timezone-hide').hide();
      }

      {% include load_all_rankings_and_subs.js %}

      {% for conf in site.data.conferences %}
      if (conf == "{{ conf.id }}") { //find current conference
        // set title
        $('#conf-title-href').text("{{conf.title}} {{conf.year}}");
        $('#conf-title-long').text("{{conf.name}}");
        // set badges
        var subs = '{{conf.sub}}'.split(',');
        for (let i = 0; i < subs.length; i++) {
          var sub = subs[i].replace(" ", "");
          var sub_element = document.createElement('span');
          sub_element.className = "conf-sub conf-" + sub;
          sub_element.textContent = sub2name[sub];
          $('#conf-subs').append(sub_element);
        }
        if ("{{conf.hindex}}" == "") {
          $('#conf-h5').hide();
        } else {
          $('#conf-h5').text("{{conf.hindex}}");
        }
        if ("{{conf.ranking}}" == "") {
          $('#conf-ranking').hide();
        } else {
          $('#conf-ranking').text("{{conf.ranking}}");
        }
        // date, place, links
        $('#conf-date').text("{{conf.date}}");
        $('#conf-place').text("{{conf.place}}");
        $('#conf-website').text("{{conf.link}}");
        $('#conf-website').attr('href', "{{conf.link}}");
        var twitter_slug = '<a href="https://twitter.com/share" class="twitter-share-button" data-text="Countdown to the #{{ conf.title }}{{ conf.year }} deadline!" data-show-count="false" style="font-size:13px;">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8">';
        $('#twitter-box').html(twitter_slug);
        {% if conf.timezone == "estimated" %}
        $('#conf-no-timezone').attr('style', "display: none;");
        {% else %}
        $('#conf-estimated').attr('style', "display: none;");
        {% if conf.timezone %}
        $('#conf-no-timezone').attr('style', "display: none;");
        {% else %}
        {% endif %}
        {% endif %}
        {% if conf.deadline == "TBA" %}
        $('#conf-timer').html("TBA");
        $('.deadline-time').html("TBA");
        $('.deadline-local-time').html("TBA");
        $('#conf-no-timezone').attr('style', "display: none;");
        {% else %}
        // adjust date according to deadline timezone
        var timezone = {% if conf.timezone %} "{{conf.timezone}}" {% else %} "America/New_York" {% endif %};

      // Add calendar download
      var confDeadline = moment.tz("{{conf.deadline}}", timezone);
      var conferenceDeadlineCalendar = createCalendar({
        options: {
          class: 'calendar-obj',
        },
        data: {
          title: '{{conf.title}} {{conf.year}} deadline',
          start: confDeadline.toDate(),
          duration: 60,
        }
      });
      document.querySelector('#conference-deadline').appendChild(conferenceDeadlineCalendar);


      // Add calendar download for conference dates
      var confStartDate = moment.tz("{{conf.start}} 09:01", timezone);
      var confEndDate = moment.tz("{{conf.end}} 16:00", timezone);
      var conferenceDatesCalendar = createCalendar({
        options: {
          class: 'calendar-obj',
        },
        data: {
          title: 'Conference: {{conf.title}} {{conf.year}}',
          start: confStartDate.toDate(),
          end: confEndDate.toDate(),
        }
      });
      document.querySelector('#conference-dates').appendChild(conferenceDatesCalendar);

      // render countdown timer
      $('#conf-timer').countdown(confDeadline.toDate(), function (event) {
        $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
      });
      $('.deadline-time').html(confDeadline.toString());

      // convert deadline to local timezone
      try {
        var localConfDate = moment.tz(confDeadline, local_timezone);
        $('.deadline-local-time').html(localConfDate.toString());
      }
      catch (err) {
        console.log("Error converting to local timezone.");
      }
      {% endif %}
    }
    {% endfor %}
    });
    {% include google_analytics.js %}
  </script>
</body>

</html>