<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h1>
                {{ site.title }}
            </h1>
        </div>
        <div class="meta col-sm-12">
            Countdowns to CV/NLP/ML/Robotics/AI conference deadlines.
            Also, an overview of deadlines and conference dates in a <a href="/calendar">calendar</a>.
            You can download all deadlines and conference dates easily.
            You're very welcome to contribute <a target="_blank"
                href="//github.com/{{ site.github_username }}/{{ site.github_repo }}">here</a>
            and for more information click <a data-toggle="modal" data-target="#staticBackdrop"
                style="cursor: pointer;">here</a>.
        </div>
        <br>
        {% include information.html %}
    </div>

    <br>
    <!-- <h2>Filter Conference Deadlines</h2> -->
    {% include filter_form.html %}
    <div class="row">
        <div class="meta col-sm-12">
        </div>
        <div class="meta col-sm-12">
        </div>
    </div>
</div>
<div class="" id="confs">
    <h2>
        Conference Deadline Countdowns
    </h2>
    <h6>
        (Timezone: <span class="local-timezone">America/New_York</span>;
        Add/edit a conference <a target="_blank"
            href="//github.com/{{ site.github_username }}/{{ site.github_repo }}">here</a>)
    </h6>
    <br>
    <div id="coming_confs">
        {% for conf in site.data.conferences %}
        {% assign subs = conf.sub | split: "," %}
        <div id="{{conf.id}}" class="ConfItem {% for sub in subs %} {{sub | strip }}-conf {% endfor %} 
            {%if conf.ranking %}{{conf.ranking}}{%else%}NA{%endif%}-ranking">
            <div class="row conf-row">
                <div class="col-6">
                    <span title="{{conf.name}}" class="conf-title">{{conf.title}} {{conf.year}}</span>
                    <span title="{{conf.name}}" class="conf-title-small">{{conf.title}} '{{conf.year | slice: -2,
                        3}}</span>
                    <a title="Deadline Details" href="{{site.baseurl}}/conference?id={{ conf.id }}">
                        <img src="{{site.baseurl}}/static/img/269-info.svg" class="own-badge" alt="Remove this image" />
                    </a>
                    <a title="Conference Website" href="{{conf.link}}" target="_blank">
                        <img src="{{site.baseurl}}/static/img/203-earth.svg" class="own-badge"
                            alt="Remove this image" />
                    </a>
                </div>
                <div id="deadline-overview" class="col-6">
                    <span class="timer"></span>
                    {% if conf.timezone == "estimated" %}
                    <img title="Deadline only estimated!" src="{{site.baseurl}}/static/img/266-question.svg"
                        class="own-badge" alt="Remove this image" height="20px"
                        style="font-size: 20px; font-weight: 400; filter: invert(46%) sepia(68%) saturate(1119%) hue-rotate(1deg) brightness(103%) contrast(95%);" />
                    {% else %}
                    {% if conf.timezone or conf.deadline == "TBA" %}
                    {% else %}
                    <img title="Timezone not given!" src="{{site.baseurl}}/static/img/265-notification.svg"
                        class="own-badge" alt="Remove this image" height="20px"
                        style="filter: invert(15%) sepia(94%) saturate(3919%) hue-rotate(355deg) brightness(77%) contrast(119%);" />
                    {% endif %}
                    {% endif %}
                    <span class="timer-small"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="meta">
                        {% if conf.date %}
                        <span class="conf-date">{{conf.date}}.</span>
                        {% else %}
                        <span class="conf-date">{{conf.start | date: "%-d %B %Y"}}-{{conf.end | date: "%-d %B
                            %Y"}}.</span>
                        {% endif %}
                        <span class="conf-place">
                            {% if conf.place == "Online" %}
                            <a href="#">{{conf.place}}</a>.
                            {% else %}
                            <a href="http://maps.google.com/?q={{conf.place}}">{{conf.place}}</a>.
                            {% endif %}
                        </span>
                    </div>
                    {% if conf.note %}
                    <div class="note">
                        <b>Note:</b> {{conf.note}}
                    </div>
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="deadline">
                        <div>Deadline:
                            <span class="deadline-time"></span>
                        </div>
                    </div>
                    <div class="calendar"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% for sub in subs %}
                    {% assign sub_striped = sub | strip %}
                    <span title="Click to only show {{sub_striped}} conferences" data-sub="{{sub_striped}}"
                        class="conf-sub {{sub_striped}}-tag"></span>
                    {% endfor %}
                    {% if conf.ranking %}
                    <span title="Click to only show {{conf.ranking}} conferences" class="conf-ranking"
                        data-ranking="{{conf.ranking}}">{{conf.ranking}}</span>
                    {% endif %}
                    {% if conf.hindex %}
                    <span title="H5 Index" class="conf-h5">{{conf.hindex}}</span>
                    {% endif %}
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

<br>
<div class="accordion" id="accordionExample">
    <div>
        <div id="headingOne" style="margin-bottom: 10px;">
            <h2 class="mb-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                Past Conference Deadlines
                <span style="font-size: 13px;">
                    (Click to view)
                </span>
            </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <hr>
            <div id="past_confs">
            </div>
        </div>
    </div>
</div>
<br>
<hr>