<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-6">
    <a href="/">{{ site.baseurl }}</a> is a fork of <a href="https://aideadlin.es">aideadlin.es</a> and maintained by
    <a href="https://www.dbei.med.upenn.edu/research/post-docs">Shu Yang</a>.
<!--     <a href="https://github.com/{{ site.github_username }}">@{{ site.github_username }}</a>. -->
<!--     <a href="https://twitter.com/{{ site.twitter.username }}">@{{ site.twitter.username }}</a>. -->
  </div>
  <div id="impressum" class="col-xs-12 col-sm-6">
    <a href="/impressum">Impressum.</a>
  </div>
  <div  class="col-12" style="font-size: x-small">
    <div class="center">
      The available information is under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> license, as it is partially from <a href="http://wikicfp.com">WikiCFP</a> and <a href="https://aideadlin.es">aideadlin.es</a>.
      For details see <a href="//github.com/{{ site.github_username }}/{{ site.github_repo }}#license">here</a>.
    </div>
  </div>
  <br>
  <br>
</div>
